<?xml version="1.0" ?>
<robot name="bed">

  <material name="off_yellow">
    <color rgba="1 0.95 0.051 1"/>
  </material>

  <material name="green">
    <color rgba="0.0 0.5 0.0 1"/>
  </material>

  <material name="brown">
    <color rgba="0.84 0.4 0.12 1"/>
  </material>

  <link name="mattress">
    <inertial>
      <mass value="0"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bed_mattress_vhacd.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="off_yellow"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!--mesh filename="bed_mattress_vhacd.obj" scale="1.1 1.1 1.1"/-->
        <mesh filename="bed_mattress_vhacd.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="mattress_pmat_link" type="fixed">
    <parent link="mattress"/>
    <child link="pmat"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <limit effort="2000" lower="0" upper="2" velocity="1"/>
  </joint>
  <link name="pmat">
    <inertial>
      <mass value="0"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bed_pmat.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="green"/>
    </visual>
  </link>
  <joint name="mattress_leg1_link" type="fixed">
    <parent link="mattress"/>
    <child link="leg1"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0 0 0" xyz="0.031 0.036 -0.15"/>
    <limit effort="2000" lower="0" upper="2" velocity="1"/>
  </joint>
  <link name="leg1">
    <inertial>
      <mass value="0"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="cube.obj" scale="0.03 0.03 0.2"/>
      </geometry>
      <material name="brown"/>
    </visual>
  </link>
  <joint name="mattress_leg2_link" type="fixed">
    <parent link="mattress"/>
    <child link="leg2"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0 0 0" xyz="0.031 1.7272 -0.15"/>
    <limit effort="2000" lower="0" upper="2" velocity="1"/>
  </joint>
  <link name="leg2">
    <inertial>
      <mass value="0"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="cube.obj" scale="0.03 0.03 0.2"/>
      </geometry>
      <material name="brown"/>
    </visual>
  </link>
  <joint name="mattress_leg3_link" type="fixed">
    <parent link="mattress"/>
    <child link="leg3"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0 0 0" xyz="0.8382 0.036 -0.15"/>
    <limit effort="2000" lower="0" upper="2" velocity="1"/>
  </joint>
  <link name="leg3">
    <inertial>
      <mass value="0"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="cube.obj" scale="0.03 0.03 0.2"/>
      </geometry>
      <material name="brown"/>
    </visual>
  </link>
  <joint name="mattress_leg4_link" type="fixed">
    <parent link="mattress"/>
    <child link="leg4"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0 0 0" xyz="0.8382 1.7272 -0.15"/>
    <limit effort="2000" lower="0" upper="2" velocity="1"/>
  </joint>
  <link name="leg4">
    <inertial>
      <mass value="0"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="cube.obj" scale="0.03 0.03 0.2"/>
      </geometry>
      <material name="brown"/>
    </visual>
  </link>
</robot>

